#board {
    width: 100%;
    height: 100%;
    background-color: #eff0ea;
}

.back {
    margin-left: 98%;
    width: 2%;
    aspect-ratio: 4 / 3;
    text-align: center;
    right: 0%;
    z-index: 1;
    color: white;
    border: solid 1px black;
    background-color: red;
    cursor: default;
}

#locationMenu {
    position: relative;
    display: flex;
    padding-top: 5%;
    padding-bottom: 5%;
    /* justify-content: space-around; */
    flex-wrap: wrap;
    font-size: 20pt;
    margin: 0 auto;
}

#locationMenu > * {
    display: inline-block;
}

#locationMenu > #state {
    width: 75px;
    border: solid 2px #5fa281;
    border-radius: 1em;
    margin-left: 100px;
}

#locationMenu > #country {
    width: 110px;
    border: solid 2px #5fa281;
    border-radius: 1em;
    margin-left: 10px;
}

#locationMenu > #zone {
    width: 110px;
    border: solid 2px #5fa281;
    border-radius: 1em;
    margin-left: 10px;
}

#search {
    width: 8%;
    aspect-ratio: 2 / 1;
    color: white;
    text-align: center;
    border-radius: 2em;
    background-color: #5fa281;
    margin-left: 3%;
}
#search:hover {
    background-color: #416e58;
}

#myPost {
    display: inline-block;
    color: black;
    border: solid 2px #5fa281;
    border-radius: 2em;
    background-color:white;
    padding: 1%;
    margin-left: 16px;
}
#myPost:hover {
    color: white;
    background-color: #5fa281;
}

#joiningPlogging {
    display: inline-block;
    color: black;
    border: solid 2px #5fa281;
    border-radius: 2em;
    background-color: white;
    padding: 1%;
    margin-left: 16px;
    margin-block-start: 16px;
    margin-block-end: 16px;
}
#joiningPlogging:hover {
    color: white;
    background-color: #5fa281;
}

#write {
    display: inline-block;
    color: black;
    border: solid 2px #5fa281;
    border-radius: 2em;
    background-color: white;
    padding: 1%;
    margin-left: 16px;
    margin-block-start: 16px;
    margin-block-end: 16px;
}
#write:hover {
    color: white;
    background-color: #5fa281;
}

#totalCount {
    visibility: hidden;
}

#boardBody {
    position: relative;
    width: 90%;
    height: 800px;
    /* font-size: 20pt; */
    /* border: solid 1px black; */
    /* border-radius: 2%; */
    margin: 0 auto;
}

#boardRibon {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

#boardList {
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 50%;
    /* font-size: 20pt; */
    margin: 0 auto;
    /* border: solid 1px red; */
    overflow-y: scroll;
}

#paging {
    position: absolute;
    width: 100%;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, 1%);
}

#post {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #eff0ea;
    z-index: 2;
}

#postSection {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-right: 50px;
}

#postHeader {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
    margin-left: 50px;
    margin-right: 50px;
}

#postHeader > * {
    display: inline-block;
}

#upload {
    width: 50px;
    color: white;
    margin-left: auto;
    text-align: center;
    border-radius: 1em;
    background-color: #5fa281;
    padding: 5px;
}
#upload:hover {
    background-color: #416e58;
}

#title {
    width: 100%;
    height: 30px;
    background-color: transparent;
    border: 0px;
}

#locationGroup {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 11pt;
}

#locationGroup > * {
    display: inline-block;
    background-color: transparent;
}

#locationGroup > #locationText {
    min-width: 80px;
}

#locationGroup > #setState {
    width: 75px;
    height: 30px;
}

#locationGroup > #setCountry {
    width: 110px;
    height: 30px;
    margin-left: 10px;
}

#locationGroup > #setZone {
    width: 110px;
    height: 30px;
    margin-left: 10px;
}

#locationGroup > #setDetailSection {
    width: 300px;
    height: 30px;
    margin-left: 10px;
}

#dateGroup {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 11pt;
}

#dateGroup > * {
    display: inline-block;
    background-color: transparent;
}

#dateGroup > #dateText {
    min-width: 80px;
}

#dateGroup > #setDate {
    width: 100%;
    height: 30px;
    background-color: transparent;
    border: 0px;
    color: grey;
}

#memberGroup {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 11pt;
}

#memberGroup > * {
    display: inline-block;
    background-color: transparent;
}

#memberGroup > #memberText {
    min-width: 80px;
}

#memberGroup > #setMember {
    width: 100%;
    height: 30px;
    background-color: transparent;
    border: 0px;
}

.line {
    width: 100%;
    color: #5fa281;
    border: solid 1px #5fa281;
}

#context {
    width: 100%;
    min-height: 200px;
    border: 0px;
    background-color: #eff0ea;
    margin-top: 15px;
    margin-left: 50px;
    margin-right: 50px;
}

.user_post {
    cursor: pointer;
    width: 600px;
    display: inline;
    background: white;
    padding: 12px 12px 20px 20px;
    margin: 15px 10px;
    margin-bottom: 3%;
    border-radius: 2em;
    box-shadow: 3px 3px 15px 0px darkgray;
}

.user_post:hover {
    background-color: #a7d692;
}

.postPreviewTitle {
    font-size: 18pt;
}

.postPreviewLocation {
    font-size: 16pt;
}

.postPreviewDate {
    font-size: 12pt;
}

.postPreviewMembers {
    font-size: 12pt;
}

#userPost {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 11pt;
    background-color: #eff0ea;
    z-index: 3;
}

#postContext {
    margin-left: 50px;
    margin-right: 50px;
}

#ploggingDelete {
    width: 40px;
    color: firebrick;
    text-align: center;
    font-weight: bold;
    background-color: ghostwhite;
    box-shadow: 1px 1px 5px grey;
    border-radius: 1em;
    margin-top: 50px;
    margin-left: auto;
    padding: 7px;
}
#ploggingDelete:hover {
    color: ghostwhite;
    background-color: firebrick;
}

#ploggingReport {
    width: 40px;
    color: firebrick;
    text-align: center;
    font-weight: bold;
    background-color: ghostwhite;
    box-shadow: 1px 1px 5px grey;
    border-radius: 1em;
    margin-top: 50px;
    margin-left: auto;
    padding: 7px;
}
#ploggingReport:hover {
    color: ghostwhite;
    background-color: firebrick;
}

#postInfo {
    display: block;
}

#postWritter {
    width: fit-content;
    font-size: 12pt;
}

#postUploadDate {
    width: fit-content;
    color: grey;
    font-size: 9pt;
}

#userPostMain {
    display:flex;
    margin-top: 25px;
    margin-bottom: 10px;
}

#userPostTitle {
    width: 75%;
    flex-wrap: wrap;
    font-size: 16pt;
}

#currentMembers {
    width: 25%;
    flex-wrap: wrap;
    text-align: right;
    font-size: 13pt;
    margin-right: 10px;
}

#ploggingInfo {
    display:flex;
    font-size: 13pt;
    margin-top: 20px;
    margin-bottom: 20px;
}

#ploggingStartDate {
    width: 50%;
    flex-wrap: wrap;
}

#ploggingLocation {
    width: 50%;
    left: 50%;
    flex-wrap: wrap;
    margin-left: 30px;
}

#userPostContext {
    margin-top: 25px;
    margin-bottom: 35px;
}

#ploggingJoin {
    width: 100px;
    color: white;
    margin: auto;
    text-align: center;
    border-radius: 1em;
    background-color: #5fa281;
    padding: 10px;
}
#ploggingJoin:hover {
    background-color: #416e58;
}

#ploggingLeft {
    width: 100px;
    color: white;
    margin: auto;
    text-align: center;
    border-radius: 1em;
    background-color: #5fa281;
    padding: 10px;
}
#ploggingLeft:hover {
    background-color: #416e58;
}
