#board {
    width: 100%;
    height: 100%;
    background-color: white;
}

.back {
    margin-left: 98%;
    width: 2%;
    aspect-ratio: 4 / 3;
    text-align: center;
    right: 0%;
    z-index: 1;
    color: white;
    border: solid 1px black;
    background-color: red;
    cursor: default;
}

#locationMenu {
    position: relative;
    display: flex;
    padding-top: 5%;
    padding-bottom: 5%;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 20pt;
    margin: 0 auto;
}

#locationMenu > * {
    display: inline-block;
}

#boardBody {
    position: relative;
    width: 90%;
    height: 800px;
    font-size: 20pt;
    border: solid 1px black;
    margin: 0 auto;
}

#boardRibon {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#boardList {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 50%;
    font-size: 20pt;
    margin: 0 auto;
    border: solid 1px red;
}

#paging {
    position: absolute;
    width: 100%;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, 1%);
}

#post {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: aquamarine;
    z-index: 2;
}

#postSection {
    position: relative;
    width: 100%;
    height: 100%;
}

#postHeader {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: dashed 1px black;
    margin-top: 5%;
}

#postHeader > * {
    display: inline-block;
}

#setLocation {
    width: 95%;
    display: flex;
    justify-content: space-around;
    border: solid 1px green;
}

#setLocation > * {
    display: inline-block;
}

#setMember {
    width: 15%;
    border: solid 1px red;
}

#setDate {
    width: 80%;
    border: solid 1px blue;
}

#title {
    width: 95%;
    border: solid 1px yellow;
}

#context {
    width: 100%;
    height: 50%;
    resize: none;
}

.user_post {
    cursor: pointer;
    width: 100%;
}

.user_post:hover {
    background-color: rebeccapurple;
}

#userPost {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: brown;
    z-index: 3;
}