
#background {
    position: absolute;
    width: 100%;
    aspect-ratio: 16 / 9;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: skyblue;
    background-image: url("../image/bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: repeat-x;
}

#slot1 {
    position: absolute;
    width: 100%;
    aspect-ratio: 8 / 3;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

#slot2 {
    position: absolute;
    aspect-ratio: 10 / 17;
    left: 50%;
    transform: translateX(-50%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
}

#slot3 {
    position: absolute;
    width: 15%;
    aspect-ratio: 1 / 1;
    top: 16%;
    right: 1.5%;
    background-image: url("../image/sun.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
}

#slot4 {
    position: absolute;
    aspect-ratio: 1 / 1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 4;
}

.grass {
    position: absolute;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 3;
}

#grass1 {
    width: 13.5%;
    aspect-ratio: 5 / 3;
    bottom: 22%;
    left: 14.4%;
    background-image: url("../image/grass1.png");
}

#grass2 {
    width: 13%;
    aspect-ratio: 5 / 3;
    bottom: 20%;
    right: 18.3%;
    background-image: url("../image/grass1.png");
}
#grass3 {
    width: 13.5%;
    aspect-ratio: 9 / 7;
    bottom: 17%;
    left: 27.5%;
    background-image: url("../image/grass2.png");
}

#grass4 {
    width: 13.5%;
    aspect-ratio: 9 / 7;
    bottom: 15%;
    right: 29%;
    background-image: url("../image/grass3.png");
}

#menu {
    position: absolute;
    height: 4rem;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    font-size: 1rem;
}

#menuBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-color: #eff0ea;
    z-index: 5;
}

#menuBox {
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    text-align: center;
    z-index: 6;
}

.outter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    aspect-ratio: 1 / 1;
    border-radius: 1.5rem;
    background-color: #eff0ea;
    z-index: 7;
}

.middle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 87%;
    aspect-ratio: 1 / 1;
    border-radius: 1.25rem;
    background-color: #dcdcaa;
}

.menuElem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 83%;
    aspect-ratio: 1 / 1;
    border-radius: 1rem;
    background-color: #5fa281;
    color: white;
    cursor: pointer;
}

#menuCenter {
    display: flex;
    align-content: flex-end;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    width: 10rem;
    /* aspect-ratio: 1 / 1; */
    z-index: 7;
}

#menuCenter > .outter {
    position: relative;
    display: flex;
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    z-index: 7;
}

#menuCenter > .outter > .middle {
    display: flex;
    border-radius: 50%;
    z-index: 7;
}

#menuCenter > .outter > .middle > .menuElem {
    display: flex;
    border-radius: 50%;
    font-size: 1.25rem;
    z-index: 7;
    cursor: pointer;
}

#hideMenuBtn {
    width: 3rem;
    aspect-ratio: 2 / 1;
    z-index: 8;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0.5rem;
    background-image: url("../image/hide_menu.png");
    cursor: pointer;
}

#visibleMenuBtn {
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 25%;
    aspect-ratio: 10 / 1;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    opacity: 0.65;
    border-radius: 1rem 1rem 0 0;
    background-color: #eff0ea;
    cursor: pointer;
}

#visibleMenuIco {
    width: 10%;
    aspect-ratio: 2 / 1;
    margin: 0 auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../image/visible_menu.png");
}