html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: hidden;
    margin: 0 auto;
}

#background {
    position: absolute;
    width: 100%;
    aspect-ratio: 16 / 9;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: skyblue;
    background-image: url("../image/bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: repeat-x;
}

#slot1 {
    position: absolute;
    width: 100%;
    aspect-ratio: 8 / 3;
    /* background-image: url("../image/hall.png"); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

#slot2 {
    position: absolute;
    aspect-ratio: 10 / 17;
    left: 50%;
    transform: translateX(-50%);
    /* background-image: url("../image/statue.png"); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
}

#slot3 {
    position: absolute;
    width: 15%;
    aspect-ratio: 1 / 1;
    top: 25%;
    right: 5%;
    background-image: url("../image/sun.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
}

#slot4 {
    position: absolute;
    aspect-ratio: 1 / 1;
    /* background-image: url("../image/dog.png"); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 4;
}

.grass {
    position: absolute;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 3;
}

#grass1 {
    width: 13.5%;
    aspect-ratio: 5 / 3;
    bottom: 22%;
    left: 14.4%;
    background-image: url("../image/grass1.png");
}

#grass2 {
    width: 13%;
    aspect-ratio: 5 / 3;
    bottom: 20%;
    right: 18.3%;
    background-image: url("../image/grass1.png");
}
#grass3 {
    width: 13.5%;
    aspect-ratio: 9 / 7;
    bottom: 17%;
    left: 27.5%;
    background-image: url("../image/grass2.png");
}

#grass4 {
    width: 13.5%;
    aspect-ratio: 9 / 7;
    bottom: 15%;
    right: 29%;
    background-image: url("../image/grass3.png");
}

#menuBtn {
    position: absolute;
    width: 45px;
    aspect-ratio: 1 / 1;
    right: 2%;
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #a7d692;
    z-index: 5;
}

#menuIco {
    height: 100%;
    line-height: 100%;
    font-size: 21pt;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu {
    position: absolute;
    background-color: #eff0ea;
    z-index: 6;
}

.menuElem {
    aspect-ratio: 1 / 1;
    display: inline-block;
    background-color: #5fa281;
    margin: 0 auto;
}