#mail {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    background-color: chartreuse;
}

#mailContext {
    resize: none;
}

#mailBox {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    z-index: 5;
    background-color: coral;
}

#receiveMail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: darkkhaki;
    z-index: 6;
}