#mail {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 8;
    background-color: chartreuse;
}

#mailContext {
    resize: none;
}

#mailBox {
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    z-index: 7;
    background-color: white;
    border: solid 0.0625rem black;
    border-radius: 1.5625rem 0rem 0rem 1.5625rem;
}

#mailBoxHeader {
    width: 100%;
    height: min-content;
    background-color: #d9ead3;
    border-radius: 1.5625rem 0rem 0rem 0rem;
}

#mailBoxHeader > * {
    position: relative;
}

#mailBoxInfoHeader {
    display: flex;
    width: 100%;
    height: min-content;
    justify-content: space-between;
}

#mailBoxInfoHeader > * {
    display: inline-block;
    font-size: 0.625rem;
    margin-bottom: 0.9375rem;
}

#notReadMailCount {
    text-align: left;
    margin-left: 1.875rem;
}

#receiveMailCount {
    text-align: right;
    margin-right: 1.875rem;
}

#mailBoxMenuHeader {
    height: auto;
    display: flex;
    margin-top: 0.9375rem;
    margin-left: 1.875rem;
    margin-bottom: 0.9375rem;
}

#deleteAllMail {
    width: 1rem;
    aspect-ratio: 1 / 1;
    margin-left: 0.9375rem;
    margin-right: 0.625rem;
}

#deleteMail {
    width: 3.125rem;
    height: fit-content;
    color: white;
    text-align: center;
    border-radius: 0.3125rem;
    background-color: #5fa281;
    padding: 0.3125rem;
}
#deleteMail:hover {
    background-color: #416e58;
}

#receiveMailList {
    width: auto;
    flex-grow: 1;
    overflow-y: scroll;
    margin-left: 1.875rem;
    margin-right: 1.875rem;
}

.mailPkg {
    display: flex;
    height: min-content;
    background-color: #eff0ea;
    margin-bottom: 0.3125rem;
    padding: 0.4375rem 0.625rem 0.4375rem 0.625rem;
}
.mailPkg:hover {
    background-color: #e2e3dd;
}

.user_mail {
    font-size: 0.75rem;
}

.user_mail_checkbox {
    width: 1rem;
    height: 1rem;
    margin-right: 0.625rem;
}

#receiveMail {
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 8;
    background-color: white;
    border-radius: 1.5625rem 0rem 0rem 1.5625rem;
}

#receiveMailHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
}

#receiveMailHeader > * {
    display: inline-block;
}

#senderProfile {
    display: block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../image/profile.png");
}

#senderInfo {
    display: block;
}

#senderInfo > * {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

#receiveMailTitle {
    font-size: 1.125rem;
    margin-left: 1.875rem;
}

#reportMail {
    width: 2.5rem;
    color: firebrick;
    text-align: center;
    font-weight: bold;
    background-color: ghostwhite;
    box-shadow: 0.0625rem 0.0625rem 0.3125rem grey;
    border-radius: 1rem;
    margin-right: 1.875rem;
    padding: 0.4375rem;
}
#reportMail:hover {
    color: ghostwhite;
    background-color: firebrick;
}

#receiveMailInfo {
    display: flex;
    flex-wrap: wrap;
    /* display: block; */
    margin-left: 1.875rem;
    margin-right: 1.875rem;
    margin-bottom: 0.9375rem;
}

#mailSender {
    width: fit-content;
}

#sendDate {
    width: fit-content;
    color: grey;
}

#receiveMailContext {
    flex-grow: 1;
    overflow-y: scroll;
    background-color: #eff0ea;
    margin-left: 1.875rem;
    margin-right: 1.875rem;
    margin-bottom: 1.25rem;
    padding: 0.4375rem 0.625rem 0.4375rem 0.625rem;
}