@font-face {
    font-family: 'roka';
    src: local('../font/ROKA_Bold.ttf') format('truetype');
}

::-webkit-scrollbar {
    display: none;
}

* {
    font-family: 'roka';
}

.back {
    display: block;
    width: 1rem;
    aspect-ratio: 4 / 3;
    margin-left: calc(100% - 1rem);
    text-align: center;
    color: white;
    border: solid 0.0625rem black;
    background-color: red;
    cursor: default;
    z-index: 1;
}