@font-face {
    font-family: 'Tmoney';
    src: url('../font/TmoneyRoundWindRegular.woff') format('woff');
}

::-webkit-scrollbar {
    display: none;
}

* {
    font-family: 'Tmoney';
}

.back {
    display: block;
    width: 1rem;
    aspect-ratio: 4 / 3;
    margin-left: calc(100% - 1rem);
    text-align: center;
    color: white;
    border: solid 0.0625rem black;
    background-color: red;
    cursor: pointer;
    z-index: 1;
}