@font-face {
    font-family: 'Tmoney';
    src: url('../font/TmoneyRoundWindRegular.woff') format('woff');
}

::-webkit-scrollbar {
    display: none;
}

* {
    font-family: 'Tmoney';
}

html {
    width: 100%;
    height: 100%;
    font-size: 16px;
}

body {
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: hidden;
    margin: 0 auto;
}

.back {
    display: block;
    width: 1rem;
    aspect-ratio: 4 / 3;
    margin-left: calc(100% - 1rem);
    text-align: center;
    color: white;
    border: solid 0.0625rem black;
    background-color: red;
    cursor: pointer;
}