<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>대머리독수리</title>
    </head>
    <link rel="stylesheet" type="text/css" href="../static/css/login.css">
    <script src="https://kit.fontawesome.com/3b175bf1d9.js" crossorigin="anonymous"></script>
    <script src="../static/js/tutorial.js"></script>
    <script src="../static/js/intro.js"></script>
    {% block content %}
    {% endblock %}
</html>