{% extends "base.html" %}

{% block content %}
    {% if loginFail == "로그인실패" %}
        <body onload="init(0)">
        </body>
    {% elif loginFail == "로그인성공" %}
        <link rel="stylesheet" type="text/css" href="../static/css/game.css">
        <link rel="stylesheet" type="text/css" href="../static/css/board.css">
        <link rel="stylesheet" type="text/css" href="../static/css/mail.css">
        <link rel="stylesheet" type="text/css" href="../static/css/plogging.css">
        <link rel="stylesheet" type="text/css" href="../static/css/shop.css">
        <link rel="stylesheet" type="text/css" href="../static/css/tutorial.css">
        <script src="../static/js/popup.js"></script>
        <script src="../static/js/shop.js"></script>
        <script src="../static/js/plogging.js"></script>
        <script src="../static/js/mail.js"></script>
        <script src="../static/js/board.js"></script>
        <script src="../static/js/game.js"></script>
        <body onload="loadMain()">
    {% else %}
        <body onload="init(1)">
        </body>
    {% endif %}
{% endblock %}
