{% extends "base.html" %}

{% block content %}
    {% if loginFail == "로그인실패" %}
        <body onload="init(0)">
        </body>
    {% elif loginFail == "로그인성공" %}
        <link rel="stylesheet" type="text/css" href="../static/css/main.css">
        <link rel="stylesheet" type="text/css" href="../static/css/game.css">
        <link rel="stylesheet" type="text/css" href="../static/css/board.css">
        <script src="../static/js/game.js"></script>
        <body onload="loadMain()">
        </body>
    {% else %}
        <body onload="init(1)">
        </body>
    {% endif %}
{% endblock %}
